@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary-color: #3B7A57;
  --primary-color-dark: #072615;
  --primary-color-bright: #0BEA6F;
  --primary-color-light: #a1efc4;
  --secondary-color: #f5e1a4;
}

html {
  scroll-behavior: smooth;
}

@layer base {
  p {
    @apply text-gray-800;
  }
}

.nav-link {
  @apply flex items-center hover:text-primary transition-colors duration-200;
}

.input {
  @apply border p-2 w-full;
}

.form-container {
  @apply max-w-md bg-white space-y-4 border-borderColor p-4  shadow rounded;
}

.hcc {
  @apply flex items-center justify-center;
}
.hcb {
  @apply flex items-center justify-between;
}

.link {
  @apply underline underline-offset-2 hover:no-underline hover:text-primaryBright;
}

.submit-btn {
  @apply hover:bg-primaryBright bg-primary transition-colors duration-200 text-white py-2 px-4;
}

.menu-item {
  @apply  w-full text-dark cursor-pointer text-nowrap px-4 py-2 rounded-md transition duration-200 ease-linear;
  &:hover {
    @apply bg-primaryLight;
  }
}

.message {
  @apply p-2 rounded
}
.success-message {
  @apply message text-green-500 bg-green-100;
}
.error-message {
  @apply message text-red-500 bg-red-100;
}
.warning-message {
  @apply message text-amber-500 bg-amber-100;
}
.info-message {
  @apply message text-sky-500 bg-sky-100;
}

.heading-1 {
  @apply text-4xl font-semibold mb-4;
}

.heading-2 {
  @apply text-xl font-semibold;
}


.section {
  @apply px-4 py-10 lg:px-40 lg:py-20;
}

.grid-container {
  --min-grid-item-width: 300px;
  @apply max-w-screen-xl mx-auto grid gap-4 grid-cols-[repeat(auto-fill,minmax(var(--min-grid-item-width),1fr))] justify-items-center;
}


@layer components {
  .nav-icon {
    @apply relative w-12 h-10 cursor-pointer transition-all;
  }
  .nav-icon span {
    @apply block absolute h-1 w-full bg-orange-600 rounded transition-transform duration-300 ease-in-out;
  }
  .nav-icon.open span:nth-child(1),
  .nav-icon.open span:nth-child(4) {
    @apply top-4 left-1/2 w-0 transform -translate-x-1/2;
  }
  .nav-icon.open span:nth-child(2) {
    @apply transform rotate-45;
  }
  .nav-icon.open span:nth-child(3) {
    @apply transform -rotate-45;
  }
}

.drawer {
  --animation-duration: 300ms;
  --drawer-height-final: 100px;
  --drawer-height-initial: 0;
  display: none;
  overflow: hidden;
  max-height: fit-content;
}
.drawer[aria-expanded=true] {
  display: block;
  animation: open-drawer var(--animation-duration) ease;
}

.drawer[aria-expanded=false] {
  animation: close-drawer var(--animation-duration) ease;
}

@keyframes open-drawer {
  0% {
    height: var(--drawer-height-initial);
    opacity: 0;
  }

  20% {
    opacity: 1;
  }

  100% {
    height: var(--drawer-height-final);
  }
}

@keyframes close-drawer {
  0% {
    display: block;
    height: var(--drawer-height-final);
  }
  100% {
    height: var(--drawer-height-initial);
    display: none;
  }
}