@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary-color: #3B7A57;
  --primary-color-bright: #0BEA6F;
  --secondary-color: #f5e1a4;
}

.nav-link {
  @apply flex items-center hover:text-primary transition-colors duration-200;
}

.input {
  @apply border p-2 w-full;
}

.form-container {
  @apply max-w-md bg-white space-y-4 border-borderColor p-4  shadow rounded;
}

.hcc {
  @apply flex items-center justify-center;
}
.hcb {
  @apply flex items-center justify-between;
}

.link {
  @apply underline underline-offset-2 hover:no-underline hover:text-primaryBright;
}

.submit-btn {
  @apply hover:bg-primaryBright bg-primary transition-colors duration-200 text-white py-2 px-4;
}

.menu-item {
  @apply hover:text-primary transition;
}

.message {
  @apply p-2 rounded
}
.success-message {
  @apply message text-green-500 bg-green-100;
}
.error-message {
  @apply message text-red-500 bg-red-100;
}
.warning-message {
  @apply message text-amber-500 bg-amber-100;
}
.info-message {
  @apply message text-sky-500 bg-sky-100;
}

.heading-2 {
  @apply text-xl font-semibold text-dark mb-2;
}
